<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Vault\Model\Adminhtml\Source\VaultProvidersMap">
        <arguments>
            <argument name="options" xsi:type="array">
                <item xsi:type="object" name="braintree">BraintreeTwoFacade</item>
            </argument>
        </arguments>
    </type>

</config>